main{
    text-align: center;
    h1{
        margin: 25px;
    }
}
#divPost{
    background-color: aliceblue;
    border: 1px solid black;
    height: 84vh;
    text-align: start;
}
#divBtn{
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.post{
    padding: 10px;
}