#barraDeBusca input{
    width: 500px;
}
#barraDeBusca img{
    width: 45px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    background-color: black;
}
#btnAdicionar {
    position: relative;
    top: -3px;
    margin-right: 10px;
    justify-content: center; 
    align-items: center; 
    font-size: 35px; 
    font-weight: bold;
    line-height: 30px; 
    border: 0px;
}
#btnPerfil{
    border: 0px;
}
