#menuLateral{
    padding: 0%;
}

#CabecalhoMenuLatela{
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

#imgCabecalho{
    width: 100%;       
    height: 100%;    
    object-fit: contain;
}

#accordionExample{
width: 100%;
}

#botaoSobreSite{
    height: 50;
    margin: 15px;
    font-size: 20px;
}
